{% extends 'base.html' %}

{%block content%}


<div class="container">
    <br />
    <h1>书籍详情</h1><!-- TEMPCODE -->
    <p>23333</p><!-- TEMPCODE -->
    <img src="https://s1.ax1x.com/2020/05/29/tK8lx1.png"><!-- TEMPCODE -->
    <div>{{all_rows}}</div><!-- TEMPCODE -->
    {% for row in all_rows%}
    <div class="col mb-4">
        <div class="card h-100">
            {%if not row.chapter_img_url == "-1" %}
            <img src={{row.chapter_img_url}} class="card-img-top" alt="...">
            {%endif%}
            <div class="card-body">
                <h5 class="card-title">{{row.chapter_name}}</h5>
                <p class="card-text">{{row.chapter_introduction}}</p>
                <p class="card-text">{{row.updatetime}}</p>
                <p class="card-text">{{row.createtime}}</p>
                <p class="card-text">{{row.is_delete}}</p>
                <p class="card-text">{{row.chapter_id}}</p>
                <p class="card-text">{{row.chapter_img_url}}</p>
                <p class="card-text">{{row.chapter_introduction}}</p>
                <a href='/book/{{row.book_id_id}}/chapter/{{row.chapter_id}}' class="btn btn-primary btn-lg active" role="button"
                    aria-pressed="true">给我章节内容！麻溜的！</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>


{%endblock%}

