{% extends 'base.html' %}

{%block content%}
<div class="container">
  <br />
  <h1>主页</h1><!-- TEMPCODE -->
  <p>23333</p><!-- TEMPCODE -->
  <img src="https://s1.ax1x.com/2020/05/29/tK8lx1.png"><!-- TEMPCODE -->
  <div>{{all_rows}}</div><!-- TEMPCODE -->
  {% for row in all_rows%}
  <div class="col mb-4">
    <div class="card h-100">
      {%if not row.book_img_url == "-1" %}
      <img src={{row.book_img_url}} class="card-img-top" alt="...">
      {%endif%}
      <div class="card-body">
        <h5 class="card-title">{{row.book_name}}</h5>
        <p class="card-text">{{row.book_introduction}}</p>
        <a href='/BookDetail/{{row.book_id}}' class="btn btn-primary btn-lg active" role="button"
          aria-pressed="true">给我章节信息！麻溜的！</a>
          <!-- html拼接要用单引号，不然会转义 -->
          <!-- TODO 此处的高阶操作，是用url的 -->
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{%endblock%}
