{% extends 'base.html' %}

{%block content%}
<div class="container">
  <br />
  <h1>搜索</h1><!-- TEMPCODE -->
  <div>{{search_rows}}</div>
  {%if search_rows%}
  {% for row in search_rows%}
  <div>
    <h1>{{row.chapter_id}}</h1><!-- TEMPCODE -->
  </div>
  <div>
    <h1>{{row.chapter_img_url}}</h1><!-- TEMPCODE -->
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      {%if not row.book_img_url == "-1" %}
      <img src={{row.book_img_url}} class="card-img-top" alt="...">
      {%endif%}
      <div class="card-body">
        <h5 class="card-title">{{row.book_name}}</h5>
        <p class="card-text">{{row.book_introduction}}</p>
        <button type="button" class="btn btn-info" type="submit">给我看！麻溜的！</button>
      </div>
    </div>
  </div>
  {%endfor%}
  {%else%}
  <div>
    <h1>404 NOT FOUND</h1>
  </div>
  {%endif%}
</div>
{%endblock%}
