{% extends 'base.html' %}

{%block content%}
<h1>你登录吗</h1>

<div class="container">
    <h2 class="text-center">请输入登录信息</h2>
    <form class="form-horizontal" role="form" action="/user/SignUp" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputUserName" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input name="user_name" type="text" class="form-control" id="user_name" placeholder="请输入用户名">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input name="user_pwd" type="text" class="form-control" id="user_pwd" placeholder="请输入密码">
            </div>
        </div>

        <!-- <div class="form-group" id="right">
            <div class="col-sm-10">
                {{register_form.captcha}}
                <label for="" id="show"></label>
            </div>
        </div> -->

        <div class="form-group">
            <h3>{{errmsg}}</h3>
            <!-- <h3>{{register_form.errors.email}}</h3>
            <h3>{{register_form.errors.password}}</h3>
            <h3>{{register_form.errors.captcha}}</h3>
            <h3>{{msg}}</h3> -->
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submit" type="submit" class="btn btn-default btn-block btn-success">登录</button>
                <a id="cancel" href="{%url 'home'%}" class="btn btn-default btn-block btn-danger"
                    role="button">劳资不干了</a>
                <!-- TODO 这块点击跳转没做 -->
                <!-- DONE  -->
            </div>
        </div>
    </form>
</div>

<!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">你叫啥？</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">给个密码？</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
</div>

<button type="button" class="btn btn-success">快点登录</button>
<button type="button" class="btn btn-danger">劳资不干了</button> -->


{%endblock%}
