{% extends 'base.html' %}

{%block content%}
<h1>你登录吗</h1>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">你叫啥？</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">给个密码？</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
</div>

<button type="button" class="btn btn-success">快点登录</button>
<button type="button" class="btn btn-danger">劳资不干了</button>


{%endblock%}
